{% extends 'appSigtuna/base.html' %}
{% block title %}
    Sigtuna Football Academy : News
{% endblock %}

{% block content %}
{% if infoNews %}
<div class="container">
    <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align:center; margin-top: 9px; margin-bottom: 30px;">
            <h4><strong style="border-top: solid; border-bottom: solid; border-color: grey; Font-family: Oswald;">OUR NEWS</strong></h4>
        </div>
        <div class="col-sm-4"></div>
    </div>
    {% for infoNews in infoNews %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-3 bg-light" style="border-color: #ffffff;">
              <img src="{{infoNews.image.url}}" class="card-img-top" alt="..." style="max-width: 50%; max-height: auto;">
              <div class="card-body">
                <h5 class="card-title" style="Font-family: Teko;">{{infoNews.title}}</h5>
                <p class="card-text" style="Font-family: Dosis;">{{infoNews.Story}}</p>
                <p class="card-text" style="Font-family: Dosis;"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="container">
    <div id="modalClients" class="modal fade"  role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
               <div class="modal-header">
                   <h4 style="Font-family: Prata;"><b>Donations</b></h4>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
               </div>
                <div class="modal-body">
                        <ul>
                            <li>
                                <h5 style="Font-family: Pacifico;"><b>MPESA Detail</b>:</h5>
                                <p style="Font-family: Dosis;">Account name: wagwe sigtuna<br>Till number: 5126191<br></p>
                            </li>
                            <li>
                                <h5 style="Font-family: Pacifico;"><b>KCB Account Number</b>:</h5>
                                <p style="Font-family: Dosis;">1271741490<br></p>
                            </li>
                       </ul>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}